/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  background: #f2f6fb;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #365a10;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #28292a;
  position: fixed;
  top: 60px;
  bottom: 0;
  color: white;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #36492f;
}

/* CONTENT */
.content {
  margin-left: 200px;
  margin-top: 60px;
  padding: 20px;
}

/* SECTIONS */
.section {
  display: none;
}

.section.active {
  display: block;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.kpi {
  background: #7f2914;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  color: white;
}

/* FORMULAIRES */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* RECHERCHE */
#searchBook {
  width: 300px;
  margin-bottom: 15px;
}

/* BUTTONS */
button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add {
  background: #a13913;
  color: white;
}

.btn-api {
  background: #a8340e;
  color: white;
}

.btn-delete {
  background: #b30000;
  color: white;
  margin-left: 10px;
}

/* LISTES */
ul {
  margin-top: 15px;
  list-style: none;
}

li {
  background-color: #46723a;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
